<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script type="text/javascript" th:src="@{/js/nip-99.js}"></script>
  <link rel="stylesheet" th:href="@{/css/simple.css}"/>
  <link rel="stylesheet" th:href="@{/css/tablestyles.css}"/>
  <title>Contracts</title>
</head>
<body>
<header>Contracts</header>
<main>
  <a href="https://localhost:8080/contract/display_all">display all</a>
  <h4 id="sec_user">User: <code class="language-plaintext highlighter-rouge"><span
      sec:authentication="principal.username"></span></code>&emsp;Role(s): <code
      class="language-plaintext highlighter-rouge"><span
      sec:authentication="principal.authorities"></span></code></h4>
  <section>
    <h4>My Contracts</h4>
    <table style="width:50%">
      <thead>
      <tr>
        <th>AppUserID</th>
        <th>AppUserPubKey</th>
        <th>CoPartyID</th>
        <th>CoPartyPubKey</th>
        <th>Role</th>
        <th>Text</th>
        <th>Payout$$$</th>
        <th>PayerState</th>
        <th>PayeeState</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user_contract: ${user_contracts}">
        <td>
          <a th:href="@{/contract/my_contract/{id}(id=${user_contract.getId()})}">
            [[${user_contract?.getAppUserId()}]]
          </a>
        </td>
        <td>
          <a th:href="@{/contract/my_contract/{id}(id=${user_contract.getId()})}">
            [[${user_contract?.getNostrAppUserPubKey()}]]
          </a>
        </td>
        <td>
          [[${user_contract?.getCounterPartyId()}]]
        </td>
        <td>
          [[${user_contract?.getNostrCounterPartyPubKey()}]]
        </td>
        <td>
          [[${user_contract?.getCreatorRole()}]]
        </td>
        <td>
          [[${user_contract?.getText()}]]
        </td>
        <td>
          [[${user_contract?.getPrice()}]]
        </td>
        <td>
          [[${user_contract?.getPayerState()}]]
        </td>
        <td>
          [[${user_contract?.getPayerState()}]]
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h4>Open Contracts</h4>
    <table style="width:50%">
      <thead>
      <tr>
        <th>AppUserID</th>
        <th>AppUserPubKey</th>
        <th>CoPartyID</th>
        <th>CoPartyPubKey</th>
        <th>Role</th>
        <th>Text</th>
        <th>Payout$$$</th>
        <th>PayerState</th>
        <th>PayeeState</th>

      </tr>
      </thead>
      <tbody>
      <tr th:each="open_contract: ${open_contracts}">
        <td>
          <a th:href="@{/contract/display_contract/{id}(id=${open_contract.getId()})}">
            [[${open_contract?.getAppUserId()}]]
          </a>
        </td>
        <td>
          <a th:href="@{/contract/display_contract/{id}(id=${open_contract.getId()})}">
            [[${open_contract?.getNostrAppUserPubKey()}]]
          </a>
        </td>
        <td>
          [[${open_contract?.getCounterPartyId()}]]
        </td>
        <td>
          [[${open_contract?.getNostrCounterPartyPubKey()}]]
        </td>
        <td>
          [[${open_contract?.getCreatorRole()}]]
        </td>
        <td>
          [[${open_contract?.getText()}]]
        </td>
        <td>
          [[${user_contract?.getPrice()}]]
        </td>
        <td>
          [[${user_contract?.getPayerState()}]]
        </td>
        <td>
          [[${user_contract?.getPayeeState()}]]
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <section>
    <h4>Create Contract</h4>
    <form th:id="createContract" action="#" th:action="@{/contract/create}" th:object="${contractDto}" method="post">

      <input th:type="hidden" th:field="*{classifiedListingEventJson}" th:id="classifiedListingEventJson"
             th:name="classifiedListingEventJson">
      <input th:type="hidden" th:field="*{calendarTimeBasedEventJson}" th:id="calendarTimeBasedEventJson"
             th:name="calendarTimeBasedEventJson">

      <label>Contract Text</label>
      <input type="text" id="content"/>
      <br>

      <label>Payout</label>
      <input type="number" th:field="*{price}" id="payoutAmount" placeholder="payoutAmount">
      <br>

      <label>Role:</label>
      <select name="creatorRole" th:field="*{role}">
        <option id="role" th:each="role : ${T(com.prosilion.barchetta.model.entity.CreatorRoleEnum).values()}"
                th:value="${role}" th:text="${role.creatorRoleType}"></option>
      </select>
      <br>

      <button class="btn btn-primary" th:type="submit">Create Contract</button>
    </form>
  </section>
</main>
<footer>
  <p>Powered by Presto Security</p>
</footer>
</body>
</html>
