<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/simple.css}"/>
  <link rel="stylesheet" th:href="@{/css/tablestyles.css}"/>
  <title>Contract Vote</title>
</head>
<main>
  <a href="https://localhost:8080/contract/display_all">display all</a>
  <h4 id="sec_user">
    User: <code class="language-plaintext highlighter-rouge"><span sec:authentication="principal.username"></span></code>&emsp;
    Auth Role(s): <code class="language-plaintext highlighter-rouge"><span sec:authentication="principal.authorities"></span></code>
  </h4>
  <section>
    <h4>Contract state</h4>
    <form action="#" th:action="@{/contract/vote}" th:object="${contractDto}" method="post">
      <input th:type="hidden" th:field="*{classifiedListingEventJson}" th:id="classifiedListingEventJson"
             th:name="classifiedListingEventJson">
      <input th:type="hidden" th:field="*{calendarTimeBasedEventJson}" th:id="calendarTimeBasedEventJson"
             th:name="calendarTimeBasedEventJson">
      <table style="width:90%">
        <thead>
        <tr>
          <th>AppUserID</th>
          <th>Creator Role</th>
          <th>Contract Text</th>
          <th>PubKey</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td th:text="*{id}"/>
          <td th:text="*{role}"/>
          <td th:text="*{text}"/>
          <td th:text="*{nostrAppUserPubKey}"/>
        </tr>
        </tbody>
      </table>
      <h4>Vote Form</h4>
      <div th:switch="*{role}">
        <div th:case="${T(com.prosilion.barchetta.model.entity.CreatorRoleEnum).PAYER}">
          <h5 id="payee_state">Payee State: <code class="language-plaintext highlighter-rouge"><span
              th:text="*{payeeState} ?: 'awaiting'"/></code></h5>
          <select name="payerState" th:field="*{payerState}">
            <option
                th:each="payer_state : ${T(com.prosilion.barchetta.model.entity.ContractStateEnum).values()}"
                th:value="${payer_state}" th:text="${payer_state.getContractStateType()}">
            </option>
          </select>
          <input type="hidden" th:field="*{payeeState}" id="payeeState"/>
        </div>
        <div th:case="${T(com.prosilion.barchetta.model.entity.CreatorRoleEnum).PAYEE}">
          <h5 id="payer_state">Payer State: <code class="language-plaintext highlighter-rouge"><span
              th:text="*{payerState} ?: 'awaiting'"/></code></h5>
          <select name="payeeState" th:field="*{payeeState}">
            <option
                th:each="payee_state : ${T(com.prosilion.barchetta.model.entity.ContractStateEnum).values()}"
                th:value="${payee_state}" th:text="${payee_state.getContractStateType()}">
            </option>
          </select>
          <input type="hidden" th:field="*{payerState}" id="payerState"/>
        </div>
      </div>
      <div>
        <input type="hidden" th:field="*{id}" id="id"/>
        <input type="hidden" th:field="*{text}" id="content"/>
        <input type="hidden" th:field="*{payerStake}" id="payerStake"/>
        <input type="hidden" th:field="*{payeeStake}" id="payeeStake"/>
        <input type="hidden" th:field="*{price}" id="payoutAmount"/>
        <input type="hidden" th:field="*{completed}" id="completed"/>
        <!--      <input type="hidden" th:field="${contract.agreedCompletionTime}" id="agreedCompletionTime"/>-->
        <input type="hidden" th:field="*{role}" id="creatorRole"/>
        <input type="hidden" th:field="*{appUserId}" id="appUserId"/>
        <input type="hidden" th:value="*{counterPartyId}" name="counterPartyId"/>
      </div>
      <input type="submit" value="Accept Contract (View page)">
    </form>
  </section>
</main>
</html>
