<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>Edit User</title>
  <link rel="stylesheet" th:href="@{/css/simple.css}"/>
</head>
<body>
<header>Edit User</header>
<main>
  <a href="https://localhost:8080/contract/display_all">display all</a>
  <b>User:</b> <span sec:authentication="principal.username"></span>
  <b>Role(s):</b> <span sec:authentication="principal.authorities"></span>

  <form action="#" th:action="@{/edit}" th:object="${user}" method="post">
    <p>
      <label>User Nostr Public Key</label>
      <input type="text" id="nostrPubKey" placeholder="User Pubkey" name="nostrPubKey" th:value="${user.pubkey}">
    </p>
    <input type="hidden" id="user_id" name="user_id" th:value="${user.id}"/>
    <input type="submit" value="Save">
  </form>
</main>
<footer>
  <p>Powered by Presto Security</p>
</footer>
</body>
</html>
